@import url('https://fonts.bunny.net/css?family=fascinate:400');
@import 'swiper/swiper-bundle.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  text-decoration: none; /* Elimina subrayado */
  font-family: 'Fascinate', cursive; /* Fuente personalizada */
  font-size: 2.8rem; /* Ajusta el tamaño de la fuente */
  color: #ffffff; /* Color predeterminado */
}

.logo:hover {
  color: #f3f3f3; /* Cambia el color cuando pasas el mouse */
  text-decoration: none; /* Asegura que no se agregue subrayado al hacer hover */
}

[x-cloak] {
    display: none;
}

header {
  background-color: #D3BBA6;
  color: black;
}

/* Esto para eliminar el subrayado en cualquier otro hover de enlaces */
a:hover {
  text-decoration: none;
}

input[type="text"] {
  border: 1px solid #ccc;
}

.bg-black {
  background-color: #000000;
}

.text-black {
  color: #000000;
}

.text-xs {
  font-size: 12px;
}